/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.main-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    "h h h h h h h h h h h h"
    "sh sh sh sh sh sh sh sh sh sh sh sh"
    ". . m m m m m m m m . ."
    ". . cb cb cb cb cb cb cb cb . ."
    "fd fd fd fd fd fd fd fd fd fd fd fd"
    "co co co co co co co co co co co co"
    "f f f f f f f f f f f f";
}

/* Край на CSS RESET  */

/* Начало дефиниране на грид, основен layout */

body {

    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #222222;
    background-color: #f2f2f7;
}
header {
    grid-area: h;
    height: 56px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.second-header {
    grid-area: sh;
    height: 40px;
    background: -webkit-linear-gradient(left,#ff1d25 5%,#a0328c 35%,#7040a4 45%,#4359c7 55%,#0082e6 70%);
    
}

main {
    grid-area: m;
    background-color: white;
    height: 457px;
}

.categories-banner {
    grid-area: cb;
    background-color: #f2f2f7;
    height: 110px;
}

.flash-deals {
    grid-area: fd;
    height: 585px;
    background: rgb(33, 71, 220)
}

.categories-offers {
    grid-area: co;
    height: 2963px;
    background-color: #f2f2f7;
}

footer {
    grid-area: f;
    height: 300px;
    background: #e7eff8;
}

/* Край на дефиниране на грид, основен layout */

/* Тук започва wrapper-а за съдържанието на хедъра*/

          /* P.S. Да измисля как да си го направя основен wrapper и просто да го ползвам, като клас - Забележка - parent-a трябва да е с display grid и разделен на 12 фракции. */

.header-content {
    grid-column-start: 3;
    grid-column-end: 11;
    display: flex;
    align-items: center;
    padding: 10 0;
    min-width: 1100px;
    
}

#logo {
    height: 35.91px;
}

/* Тук свършва wrapper-а за съдържанието на хедъра*/

/*Старт стайлинг дивове в хедъра*/
.navbar-searchbox {
    width: 51%;
    padding-left: 10px;
}

form.example input[type=text] {
    
    font-size: 15px;
    color: #666666;
    border: 1px solid #0082e6;
    border-right: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    float: left;
    width: 87%;
    background: transparent#f1f1f1;
    height: 32px;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 8%;
    padding: 10px;
    background: transparent;
    color: #0082e6;
    font-size: 15px;
    border: 1px solid #0082e6;
    border-left: none; /* Prevent double borders */
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
    height: 36px;
  }
  
  form.example button:hover {
    background: #ebf5ff;
  }

  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.navbar-toolbox {
    display: flex;
    width: 38%;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-main-btn  {
    display: flex;
    
}

.btn-group a {
    text-decoration: none;
    color: #0082e6;
    
}

.icon {
    font-size: 20px;
    padding-right: 10px;
}

.accFavouriteCard {
    display: flex;
    
    color: #444444
}

.accFavouriteCard > i {
    padding-left: 4px;
    color: #444444;
}
/*Край стайлинг дивове в първи хедър*/



/*Старт стайлинг дивс втори хедър*/


.second-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.second-header-content {
    grid-column-start: 3;
    grid-column-end: 11;
    display: flex;
    align-items: center;
    /* padding: 10 0; */
    min-width: 1150px;
    
}

/* .categories-active start */

.categories-active {
    margin-top: 5px;
    padding: 7px;
    background-color: white;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}



.categories-active {
    line-height: 20px;
    font-weight: 600;
    color: black
}
/* .categories-active end */

/* navbar-left start */

.navbar-left {
    display: flex;
    padding: 4px;
}

.navbar-left > li {
    border: 1px solid transparent;
    padding: 5px;
    list-style-type: none;
    
}

.navbar-left > li:hover {
    
    border: 1px solid white;
    border-radius: 16px;
}

.navbar-left > li > a {
    padding: 4px 10px;
    margin: 5px 0 5px 4px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

/* .navbar-left end */

.navbar-right {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
}

.navbar-right > li {
    border: 1px solid transparent;
    padding: 5px;
    list-style-type: none;
    
}

.navbar-right > li:hover {
    
    border: 1px solid white;
    border-radius: 16px;
}

.navbar-right > li > a {
    padding: 4px 10px;
    margin: 5px 0 5px 4px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

/* .navbar-right > li > a > i {
    font-size: 16px;
    
    padding: 4px;
    
} */