/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.main-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    "h h h h h h h h h h h h"
    "sh sh sh sh sh sh sh sh sh sh sh sh"
    "m m m m m m m m m m m m"
    "w w w w w w w w w w w w"
    "fd fd fd fd fd fd fd fd fd fd fd fd"
    "co co co co co co co co co co co co"
    "f f f f f f f f f f f f";
}

/* Край на CSS RESET  */

/* Начало дефиниране на грид, основен layout */

body {

    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #222222;
    background-color: #f2f2f7;
}
header {
    grid-area: h;
    height: 56px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.second-header {
    grid-area: sh;
    height: 40px;
    background: -webkit-linear-gradient(left,#ff1d25 5%,#a0328c 35%,#7040a4 45%,#4359c7 55%,#0082e6 70%);
    
}

main {
    grid-area: m;
    background-color: #f2f2f7;
    height: 471px;
}

.widgets {
    grid-area: w;
    background-color: #f2f2f7;
    height: 110px;
}

.flash-deals {
    grid-area: fd;
    height: 585px;
    background: rgb(33, 71, 220)
}

.categories-offers {
    grid-area: co;
    height: 2963px;
    background-color: #f2f2f7;
}

footer {
    grid-area: f;
    height: 300px;
    background: #e7eff8;
}

/* Край на дефиниране на грид, основен layout */

/* Тук започва wrapper-а за съдържанието на хедъра*/

          /* P.S. Да измисля как да си го направя основен wrapper и просто да го ползвам, като клас - Забележка - parent-a трябва да е с display grid и разделен на 12 фракции. */

/* Снипетче за wrapper */

/* .wrapper {
    grid-column-start: 3;
    grid-column-end: 11;
    display: flex;
    
    padding: 10 0;
    min-width: 1100px;
} */



.header-content {
    grid-column-start: 3;
    grid-column-end: 11;
    display: flex;
    align-items: center;
    padding: 10 0;
    min-width: 1150px;
}

#logo {
    height: 35.91px;
}

/* Тук свършва wrapper-а за съдържанието на хедъра*/

/*Старт стайлинг дивове в хедъра*/
.navbar-searchbox {
    width: 51%;
    /* flex-grow: 1; */
    padding-left: 10px;
}



form.example input[type=text] {
    
    font-size: 15px;
    color: #666666;
    border: 1px solid #0082e6;
    border-right: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    float: left;
    width: 87%;
    background: transparent#f1f1f1;
    height: 32px;
    outline: none;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 8%;
    padding: 10px;
    background: transparent;
    color: #0082e6;
    font-size: 15px;
    border: 1px solid #0082e6;
    border-left: none; /* Prevent double borders */
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
    height: 36px;
  }
  
  form.example button:hover {
    background: #ebf5ff;
  }

  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

.navbar-toolbox {
    display: flex;
    width: 38%;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-main-btn  {
    display: flex;
    
}

.btn-group a {
    text-decoration: none;
    color: #0082e6;
    
}

.icon {
    font-size: 20px;
    padding-right: 10px;
}

.accFavouriteCard {
    display: flex;
    
    color: #444444
}

.accFavouriteCard > i {
    padding-left: 4px;
    color: #444444;
}
/*Край стайлинг дивове в първи хедър*/



/*Старт стайлинг дивс втори хедър*/


.second-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.second-header-content {
    grid-column-start: 3;
    grid-column-end: 11;
    display: flex;
    align-items: center;
    /* padding: 10 0; */
    min-width: 1150px;
    
}

/* .categories-active start */

.categories-active {
    margin-top: 5px;
    padding: 7px;
    background-color: white;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}



.categories-active {
    line-height: 20px;
    font-weight: 600;
    color: black
}
/* .categories-active end */

/* navbar-left start */

.navbar-left {
    display: flex;
    padding: 4px;
}

.navbar-left > li {
    border: 1px solid transparent;
    padding: 5px;
    list-style-type: none;
    
}

.navbar-left > li:hover {
    
    border: 1px solid white;
    border-radius: 16px;
}

.navbar-left > li > a {
    padding: 4px 10px;
    margin: 5px 0 5px 4px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}

/* .navbar-left end */

/* NAVBAR-RIGHT START */

.navbar-right {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
}

.navbar-right > li {
    border: 1px solid transparent;
    padding: 5px;
    list-style-type: none;
    
}

.navbar-right > li:hover {
    
    border: 1px solid white;
    border-radius: 16px;
}

.navbar-right > li > a {
    padding: 4px 10px;
    margin: 5px 0 5px 4px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
/* NAVBAR-RIGHT END */







/* START MAIN CONTENT WITH FIXED MENU AND BANNER   */


.fixed-menu {
    width: 240px;
    max-height: 457px;
    background-color: white;
    /* visibility: hidden; */
}

.fixed-menu {
    box-shadow: 0 2px 10px -2px rgba(0,0,0,0.15);
    

}

.megamenu-list {
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
    position: relative;
    width: 240px;
    z-index: 1;
}

.fixed-menu > .megamenu-list  {
    vertical-align: middle;
    font-size: 13px;
    margin-right: 7px;
}

.megamenu-list-department > a {
    color: rgb(77, 73, 73);
    text-decoration: none;
    display: block;
    padding: 5.6px 10px;
}

.megamenu-list-department > a:hover {
    color: #0082e6;
    cursor: pointer;
    /* text-decoration: none;
    display: block;
    padding: 5.6px 10px; */
}


.megamenu-list:hover {

    background: -webkit-linear-gradient(left,#fff 30%, #f2f2f7 50%);

    
}

.megamenu-list-department {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    
  }

  .megamenu-list-department:hover  {
    display: block;
    background-color: #fff; 
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }


  /* CONTENT BOX TEST FOR SIDE DROPDOWN  START */
  .megamenu-list-department > .hover-content {
    position: absolute;
    margin-top: -1px;
    margin-left: 240px;
    display: flex;
    width: 430%;
    height: 457px;
    display: none;
    z-index: 1;
    box-shadow: 5 0 10px -2px rgba(0,0,0,0.15);
  }



  .megamenu-list-department:hover .hover-content {
    display: block;
    background-color: #fff;
    
    
  }
 /* PCS HOVER  */

  .megamenu-list-department > .hover-pc {
    position: absolute;
    margin-top: -53px;
    margin-left: 240px;
    display: flex;
    width: 430%;
    height: 457px;
    display: none;
    z-index: 1;
    box-shadow: 5 0 10px -2px rgba(0,0,0,0.15);
  }



  .megamenu-list-department:hover .hover-pc {
    display: block;
    background-color: #fff;
}
     /* TV HOVER  */

     .megamenu-list-department > .hover-tv {
        position: absolute;
        margin-top: -87px;
        margin-left: 240px;
        display: flex;
        width: 430%;
        height: 457px;
        display: none;
        z-index: 1;
        box-shadow: 5 0 10px -2px rgba(0,0,0,0.15);
      }
    
    
    
      .megamenu-list-department:hover .hover-tv {
        display: block;
        background-color: #fff;
    }
  
 /* CONTENT BOX FOR SIDE DROPDOWN  END */

  .icon-categories-menu {
    
    font-size: 18px;
    width: 12%;
  
    
  }

/* FIXED MENU END  */

/* START CAROUSEL  / MAIN CONTENT   */

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.wrapper {
    grid-column-start: 3;
    grid-column-end: 11;
    display: flex;
    
    padding: 10 0;
    min-width: 1150px;
}

main .wrapper .banner {
    width: 100%;
}

main .wrapper .banner img {
    width: 100%;
    height: 447px;
}

/* MAIN CONTENT WITH FIXED MENU AND CAROUSEL END   */

/* WIDGETS START */

.widgets {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}

.widgets .widgets-wrapper {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 11;
    min-width: 1250px;
}

.widget-one:hover {
    cursor: pointer;
}


.widgets .widgets-wrapper .widgets-content .widget-one {
    /* background-color: ey; */
    height: 88px;
    width: auto;
    box-sizing: border-box;
    padding: 17px 15px 17px 25px;
}

.widgets .widgets-wrapper .widgets-content .widget-one .widgets-link {
    color: #222222;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.widgets .widgets-wrapper .widgets-content .widget-one .widgets-link .widgets-text {
    height: 54px;
    
}

.widgets .widgets-wrapper .widgets-content .widget-one .widgets-link .widgets-icons .widgets-imgs {
    height: 54px;
    padding-right: 15px;
}


.widgets .widgets-wrapper .widgets-content {
    background-color: white;
    height: 88px;
    width: 100%;
    display: flex
    ;
}



/* WIDGETS END */

/* FLASH DEALS START  */

/* BANNERT START */

.flash-deals {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 40px;

}

.flash-deals .flash-deals-wrapper {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 11;
    min-width: 1150px;
}

.row-layout {
    display: flex;
    box-sizing: border-box;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-layout > .cell-one, .cell-three {
    flex-grow: 1;
    height: 100%;
}

.row-layout > .cell-two {
    flex-grow: 2;
    height: 100%;
    display: flex;
    justify-content: center;
}

.row-layout .cell-three {
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
    
    height: 100%;
    width: 33px;
}

.row-layout .cell-three .look-here {
    margin-bottom: 0;
    
    text-align: center;
    

    cursor: pointer;
    background-image: none;
    background-color: #fff;

    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7px 12px;
    
    
    border-radius: 3px;
}

.row-layout .cell-three .look-here a {
    text-decoration: none;
    color: #222222;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}
.row-layout .cell-three .look-here a:hover {
    color: #005eb8;;
}

.focus-products {
    width: 100%;
    height: auto;
}

/* BANNER END */

/* START ITEM */

.products {
    display: flex;
    justify-content: space-between;
    /* flex: 1 0 10px; */
    column-gap: 5px;
}   

    /* PROMO PERCENTS */

.card {
    position: relative;
    box-sizing: border-box;
    width: 230px;
    height: 445px;
    
}

.card-badges {
    position: absolute;
    top: 15px;
    left: 0;
    width: 60px;
    z-index: 1;
}


.card-item {
    box-sizing: border-box;
    width: 230px;
    height: 445px;
}

.card-item .card {
    width: 100%;
    min-height: 395px;
    border-radius: 4px;
    padding: 1px;
    background-color: #fff;
    line-height: 19px;
}
.card-badges .card-v2-badge {
    color: #fff;
    text-align: center;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
    border-radius: 0;
}

.card-badges .badge-discount {
    
    background-image: linear-gradient(287deg,#f0280a 0%,#bc2610 100%);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

    /* PROMO PERCENTS END */

    /* ADD TO FAVOURITES START  */
.card .card-toolbox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}


.card .card-toolbox button {
    outline: none;
    padding: 8px;
    border-radius: 50%;
    background: #fff;
    font-size: 16px;
    margin: 0 0 5px 0;
    display: block;
    border: 0;
    line-height: 16px;
}

.card .card-toolbox button:hover {
cursor: pointer;
color: #005eb8;
}
    /* ADD TO FAVOURITES END  */
    /* INFO START / IMAGE / OFFERS ON FOCUS */

.card .card-info {
    width: 230px;
    height: 388px;
    
    -webkit-box-flex: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card .card-info a {
    position: relative;
    box-sizing: border-box;
    width: 230px;
    max-height: 311px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 10px;


}
.card .card-info a img {
    width: 220px;
    height: 220px;
}


.card .card-info a .card-badges-text {
    position: absolute;
    left: 0;
    bottom: 7px;
}

.card .card-info a .card-badges-text div .card-badge {
    color: white;
    font-weight: 600;
    margin-bottom: 5px;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 2px 10px;
    font-size: 11px;
}

    /* IMAGE / OFFERS ON FOCUS END  */
    /* PRODUCT NAME START  */

.card-info .product-name {
    margin-top: -3px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-info .product-name a{

    /* These are for the three dots in the product-name */
        overflow: hidden;
        max-width:100%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    /* three dots end  */

        height: 41px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        text-decoration: none;
        color: inherit;
        

}

.semibold {
    font-weight: 600;
}

    /*Rating stars start */

.rating-product {
   
    box-sizing: border-box;
    height: 14px;
    display: flex;
    align-items: center;
}

.rating-product:hover {
    cursor: pointer;
}

.rating-product .fa-star-sharp, .fa-star-sharp-half-stroke {
    color: #f9bf3b;
}


/* PROBA ZA SIVA ZVEZDICHKA START */
.rating-product .fa-regular .fa-star-sharp .fa-grey {
    color: green;
}
/* PROBA ZA SIVA ZVEZDICHKA END  */


.rating-product-text .average-rating {
color: #222;
display: inline-block;
margin-right: 5px;
margin-left: 8px;
font-size: 12px;
}

.rating-product-text .reviews-counter {
    /* display: inline-block!important; */
    color: #888888;
    font-size: 12px;
    font-weight: 600;
}


    /* Rating stars end */

    /* Bottom content PCD and price start  */

.bottom-content {
    position: relative;
    padding: 2px 0;
    margin: 5px 10px 10px 10px;
}

.card-pricing {
    align-items: flex-start;
    font-weight: 600;
    margin-right: 42px;
}

.old-priced-PCD {
    -webkit-box-align: start;
    align-items: flex-start;
    font-weight: 600;
    margin-right: 42px;
}

.old-priced-PCD > .PCD {
    color: #888888;
    font-size: 12px;
}

.old-priced-PCD .PCD sup {
    top: -0.4em;
    font-size: 65%;
    line-height: 0;
    position: relative;
    margin-right: 0.1em;
    vertical-align: baseline;
}

.new-final-price {
    color: #ef2809;
    font-size: 16px;
    font-weight: 800;
}

.new-final-price sup {
    top: -0.4em;
    font-size: 65%;
    line-height: 0;
    position: relative;
    margin-left: -0.4em;
    vertical-align: baseline;
}

.form-action {
    height: 100%;
    
}

.form-action .add-to-cart {
    height: 100%;
    /* font-size: 0!important; */
    position: absolute;
    top: 0;
    right: 0;
    
    text-align: right;
    width: 42px;
    display: block;
    padding: 0;
    border: 2px;
    border-radius: 8px;
    border-color: #3985e0;
    overflow: hidden;

    font-size: 22px;
    display: inline-block;
    height: 100%;
    line-height: 42px;
   
    background: linear-gradient(to right,#4a60c1 10%,#3985e0);
    
    padding: 0;
    width: 42px;
}

.add-to-cart:hover {
    cursor: pointer;
}

.add-to-basket .form-action .add-to-cart > i {
    color: white;
}




/* FLASH DEALS END  */

/* CATEGORIES-OFFERS START  */
        /* First category - MOBILE PHONES START  */

.categories-offers {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.categories-offers-wrapper {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 11;
    min-width: 1150px;
    display: inline-block;
}


.page-section-title {
    margin-top: 20px;
    font-size: 25px;
    height: 30px
}





/* START EDIT ITEM */


/* Everything for edit END  */


.products-categories {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
    margin: 20px 0px 10px 0px;
    position:relative;
    height: 423px;


}

.card-item-v2 {
    box-sizing: border-box;
    width: 230px;
    height: 400px;
}

.card-v2 {
    position: relative;
    box-sizing: border-box;
    width: 230px;
    height: 345px;
    
}

.card-v2:hover {
    box-shadow: 
    0 2px 8px -3px rgb(0 0 0 / 25%);
}

.card-badges-v2 {
    position: absolute;
    top: 15px;
    left: 0;
    width: 60px;
    z-index: 1;
}




.card-item-v2 .card-v2 {
    width: 100%;
    min-height: 395px;
    border-radius: 4px;
    padding: 1px;
    background-color: #fff;
    line-height: 19px;
}
.card-badges-v2 .card-v2-badge-v2 {
    color: #fff;
    text-align: center;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
    border-radius: 0;
}

.card-badges-v2 .badge-discount-v2 {
    
    background-image: linear-gradient(287deg,#f0280a 0%,#bc2610 100%);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

    /* PROMO PERCENTS END */

    /* ADD TO FAVOURITES START  */
.card-v2 .card-toolbox {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}




.card-v2 .card-toolbox button {
    outline: none;
    padding: 8px;
    border-radius: 50%;
    background: #fff;
    font-size: 16px;
    margin: 0 0 5px 0;
    display: block;
    border: 0;
    line-height: 16px;
}

.card-v2 .card-toolbox button:hover {
cursor: pointer;
color: #005eb8;
}

   /* ADD TO FAVOURITES END  */
    /* INFO START / IMAGE / OFFERS ON FOCUS */

.card-v2 .card-info {
        width: 230px;
        height: 336px;
        
        -webkit-box-flex: 1;
        flex: 1;
        display: flex;
        flex-direction: column;
}
    
    .card-v2 .card-info a {
        position: relative;
        box-sizing: border-box;
        max-width: 230px;
        max-height: 311px;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        margin-bottom: 10px;
    
    
    }
    .card-v2 .card-info a img {
        max-width: 220px;
        max-height: 220px;
    }
    
    
    .card-v2 .card-info a .card-badges-text {
        position: absolute;
        left: 0;
        bottom: 7px;
    }
    
    .card-v2 .card-info a .card-badges-text div .card-badge {
        color: white;
        font-weight: 600;
        margin-bottom: 5px;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 2px 10px;
        font-size: 11px;
    }


 .card-v2 .card-info .product-name a{

        /* These are for the three dots in the product-name */
            overflow: hidden;
            max-width:100%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        /* three dots end  */
    
            height: 41px;
            padding-bottom: 5px;
            margin-bottom: 5px;
            text-decoration: none;
            color: inherit;
    }


    
/* ARROWS START  */


    /* LEFT */
.left-arrow {
    position: absolute;
    height: 80px;
    width: 41px;
    left: -54px;
    top: 197px;
    text-decoration: none;

}



.left-arrow-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    -webkit-transition: right 0.2s ease-in-out,left 0.2s ease-in-out,visibility 0.2s ease-in-out,opacity 0.1s ease-in-out;
    transition: right 0.2s ease-in-out,left 0.2s ease-in-out,visibility 0.2s ease-in-out,opacity 0.1s ease-in-out;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.1);
}

.left-arrow-container:hover {
    cursor: pointer;
    opacity: 1;
    box-shadow: 
    0px 2px 10px -2px rgb(0 0 0 / 15%);
}


.fa-angle-left {
    color: #005eb8;
    font-size: 25px;
   
}

.fa-angle-left:hover {
    color:#00376c;
}

    /* RIGHT ARROW  */
    .right-arrow {
        position: absolute;
        height: 80px;
        width: 41px;
        right: -72px;
        top: 197px;
        text-decoration: none;
    
    }
    
    
    
    .right-arrow-container {
        
        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0.6;
    
        width: 100%;
        height: 100%;
        transform: translateY(-50%);
        -webkit-transition: right 0.2s ease-in-out,left 0.2s ease-in-out,visibility 0.2s ease-in-out,opacity 0.1s ease-in-out;
        transition: right 0.2s ease-in-out,left 0.2s ease-in-out,visibility 0.2s ease-in-out,opacity 0.1s ease-in-out;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,0.1);
    }
    
    .right-arrow-container:hover {

        opacity: 1;

        cursor: pointer;
        box-shadow: 
        0px 2px 10px -2px rgb(0 0 0 / 15%);
    }
    
    
    .fa-angle-right {
        color: #005eb8;
        
        font-size: 25px;
       
    }
    
    .fa-angle-right:hover {
        
        color:#00376c;
    }


    /* ARROWS END */

    /* DOTS START  */
.dots-categories {

    display: flex;
    justify-content: center;

    bottom: 3px;
    position: absolute;
    width: 100%;
   


    
}

.dots { 
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #888888;
    margin-right: 10px;
}

.dots-demo-active {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #888888;
    margin-right: 10px;
    background-color: #005eb8;
}

.dots:active {
    background-color: #005eb8;
}

.dots:hover {
    transform: scale(1.5);
    background-color: #005eb8;
}


    /* DOTS END  */


        /* IMAGE / END  */


        /* The rest of the layout is same as the layout for "offers on focus", so i will use the classes from there.  */
  



        /* First category - MOBILE PHONES END  */